body{
  /*background: #404040;*/
  background: black;
}

.jumbotron {
  background-color: lightgreen;
  background: "image/background.jpg";
  width: 100%;
  height: auto;
}

.background{
  z-index: -99;
}
.backgroundImg{
  position: fixed;
  width: 100%;
  height: 100%;
  background: "image/background.jpg";
}

.name {
  margin: auto;
  border-radius: 25px;
  border: 4px solid #FFF;
  width: 400px;
  height: 350px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 5rem;
  /*background: mediumseagreen;*/
  background: "image/background.jpg";
  color: #FFF;
  text-align: center;
  line-height: 330px;
}
.intro{
  color: lightgreen;
  font-size: 5rem;
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

.title1{
  color: lightgreen;
  font-size: 3rem;
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

.workList{
  color: #FFF;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}

table{
  height: 100px;
}
td{
  width: 500px;
}

a:link, a:visited {
    color: lightgreen;
    cursor: auto;
}

a:hover{
  color: #AFEEEE;
}

a:link:active, a:visited:active {
    color: #00FA9A;
}

p{
  color: #FFF;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

h1{
  color: #FFF;
  font-size: 2.4rem;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}

ul,li{
  color: #FFF;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

hr{
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid lightgreen;
  width: 75%;
}

.work1{
  color: lightgreen;
  font-size: 4rem;
  font-family: 'Nunito Sans', sans-serif;
  height: 70%;
  width: 90%;
}
